body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    color:#4c4c4c;
}

.clear {
    clear:both;
}

.break {
    word-break: break-all;
}

#container, #options {
    width: 300px;
    height: auto;
    position:relative;
}

#save {
    display: none;
}

#topLable, #topLableOptions {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 20px;
}

#currentUrlSelector, #currentUrlDomainSelector {
    float:left;
    width:20px;
}

#currentUrl, #currentUrlDomain {
    float:left;
    width:279px;
    margin: 0px;
    font-size: 12px;
    min-height: 21px;
    line-height: 16px;
}

#status {
    padding: 5px;
    border-left: 1px solid #808080;
    padding-left: 8px;
    margin: 20px 10px;
    font-size: 14px;
}

#emptyStatus {
    margin: 0px;
    padding: 0px;
    color: #808080;
    font-size: 14px;
}

#edit {

}

#newvalue {
    width: 250px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    padding: 10px;
    min-height: 120px;
    outline: none;
    resize: vertical;
}

.button {
    padding: 4px 10px;
    display: block;
    margin: 0 auto;
    border: 1px solid #8b8b8b;
    background: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
}

.button:hover {
    background: #F5F5F5;
    color:#000000;
    outline:none;
}

#legalNote {
    font-size: 11px;
    padding: 5px 20px;
}

/* NOTIFICATIONS */

#notificationBox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 3px 0;
    color: #000000;
    font-size: 13px;
    border-radius: 5px;
    z-index: 999;
}

.notification_success {
    background: #bad6ba;
}

.notification_error {
    background: #efafaf;
}

/* OPTIONS */
#options {
    display: none;
}

#optionIcon {
    width: 16px;
    height: 16px;
    position: absolute;
    background-image: url(/images/settings.png);
    top: 1px;
    left: 0;
    cursor: pointer;
}

#closeOptionIcon {
    width: 16px;
    height: 16px;
    position: absolute;
    background-image: url(/images/back.png);
    top: 1px;
    left: 0;
    cursor: pointer;
}

#optionsText {
    padding: 7px;
    font-size: 14px;
}

#optionsText ul {
    padding-left: 23px;
}

#optionCredits {
    font-size: 12px;
    padding-left: 30px;
}